
body {
    min-height: 100vh;
}

.container {
    background-color: #e3f2fd;
    max-width: 1400px;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 2em;
    border-radius: 1em;
}

.container h1 {
    text-align: center;
    margin-bottom: 1em;
}

.search-form {
    margin: auto;
}

.search-form input {
    margin-bottom: 1em;
}



.group {
    margin-bottom: 2em;
}

.error {
    position: absolute;
    bottom: 0;
    color: #dc3545;
    visibility: visible;
}

.flash-error {
    color: #dc3545;
    margin: 1em 0;
}

table {
    background-color: #fff;
}

#flash-alert {
    position: fixed;
    top: 2em;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    z-index: 30;
}
